extends layout

block content
  h1= title
  h2 Welcome to #{title}
  p Learn Express Tutorial : Using a Database (with Mongoose)
  p objective is to be able to design and create your own models using Mongoose.
